@charset "UTF-8";
.footerMec {
  grid-area: footer;
  height: auto;
  width: 100%;
  bottom: 0; }
  .footerMec__text {
    Color: #004ff8;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-align: center; }
  .footerMec__link:hover {
    Color: #46c2f3; }
  .footerMec__link:active {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    color: black;
    height: 100%;
    width: 100%; }
  .footerMec__link {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    color: black;
    height: 100%;
    width: 100%; }
  .footerMec__img {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 5%;
    top: 80%; }

.footerMecSer {
  grid-area: footer;
  height: auto;
  width: 100%;
  bottom: 0; }
  .footerMecSer__text {
    Color: #004ff8;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-align: center; }
  .footerMecSer__link:hover {
    Color: #46c2f3; }
  .footerMecSer__link:active {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    color: black;
    height: 100%;
    width: 100%; }
  .footerMecSer__link {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    color: black;
    height: 100%;
    width: 100%; }
  .footerMecSer__img {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 5%;
    top: 80%; }

.imgDelHeader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .imgDelHeader__img {
    height: auto; }

.videoFlex {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .videoFlex__vid {
    width: 800px;
    height: 600px;
    pointer-events: none; }

.quienesSomosImg {
  height: 485px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .quienesSomosImg__img {
    height: 485px;
    width: 728px; }

.divQuienesSomos {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divQuienesSomos__parrafo {
    Color: #46c2f3;
    font-size: 30px;
    font-family: 'Open Sans Condensed'; }

.divQuienesSomos1 {
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divQuienesSomos1__parrafo {
    Color: #46c2f3;
    font-size: 30px;
    font-family: 'Open Sans Condensed'; }

.divAsociate {
  height: 200px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divAsociate__parrafo {
    Color: #46c2f3;
    font-size: 30px;
    font-family: 'Open Sans Condensed'; }

.divAsociate1 {
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divAsociate1__link {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    color: #46c2f3; }

.imgAsociate {
  height: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imgAsociate__img {
    height: 1080px;
    width: 1920px; }

.divTrabajaImg {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .divTrabajaImg__img {
    height: 500px;
    width: 1000px; }

.divTrabaja {
  height: 200px;
  width: 90%;
  margin-left: 7%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divTrabaja__parrafo {
    Color: #46c2f3;
    font-size: 20px;
    font-family: 'Open Sans Condensed'; }

.divGaleria1, .divServicios1 {
  height: 250px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divGaleria1__parrafo {
    Color: #46c2f3;
    font-size: 50px;
    font-family: 'Open Sans Condensed'; }

.divServicios1 {
  height: auto; }
  .divServicios1__parrafo {
    Color: #46c2f3;
    font-size: 50px;
    font-family: 'Open Sans Condensed'; }

.divServicios2 {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divServicios2__ul {
    list-style: none; }
    .divServicios2__ul__li {
      Color: #46c2f3;
      font-size: 50px;
      font-family: 'Open Sans Condensed'; }

.divServicios3 {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divServicios3__ol {
    list-style: none; }
    .divServicios3__ol__li {
      Color: #46c2f3;
      font-size: 50px;
      font-family: 'Open Sans Condensed'; }

.divTrabaja1 {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center; }
  .divTrabaja1__parrafo {
    Color: #46c2f3;
    font-size: 20px;
    font-family: 'Open Sans Condensed'; }

.parrafoIndex {
  width: 500px;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
  .parrafoIndex__parra {
    Color: #46c2f3;
    font-size: 30px;
    font-family: 'Open Sans Condensed'; }

.SubtituloIndex {
  Color: #004ff8;
  font-family: 'Bebas Neue';
  font-size: 90px;
  text-align: center;
  margin-bottom: 0;
  animation-duration: 2s;
  animation-name: Bienvenido;
  animation-iteration-count: 1;
  margin-top: 20px; }

@media screen and (max-width: 768px) {
  .footerMec__img {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 5%;
    top: 80%; }
  .videoFlex__vid {
    height: auto;
    width: 600px; }
  .divTrabaja1 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center; }
  .divTrabajaImg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .divTrabajaImg__img {
      height: 350px;
      width: 700px; }
  .divServicios1 {
    height: auto; }
  .divServicios2 {
    height: auto; }
  .divServicios3 {
    height: auto; }
  .galeriaTamaño {
    height: 60vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto; }
  .footerMec {
    height: auto; }
  .divQuienesSomos1 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center; }
  .QuienesSomosImg__img {
    height: 350px;
    width: 550px; }
  .imgAsociate__img {
    height: 400px;
    width: 600px; }
  .imgAsociate {
    height: 600px; } }

@media screen and (max-width: 480px) {
  .imgDelHeader__img {
    height: 100px; }
  .footerMec__img {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 5%;
    top: 80%; }
  .videoFlex__vid {
    height: auto;
    width: 350px; }
  .divTrabajaImg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .divTrabajaImg__img {
      height: 250px;
      width: 500px; }
  .divServicios1 {
    height: auto; }
  .divServicios2 {
    height: auto; }
  .divServicios3 {
    height: auto; }
  .galeriaTamaño {
    height: 40vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto; }
  .footerMecSer {
    display: none; }
  .divQuienesSomos1 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center; }
  .QuienesSomosImg__img {
    height: 250px;
    width: 450px; }
  .imgAsociate__img {
    height: 200px;
    width: 400px; }
  .imgAsociate {
    height: 400px; }
  .parrafoIndex {
    width: 300px; } }
